<div>
  <div nz-row>
    <div nz-col nzSpan="12">
      <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="title"
            >Title</nz-form-label
          >
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="title" id="title" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="body"
            >Body</nz-form-label
          >
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input type="text" id="body" formControlName="body" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Save</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
    <div nz-col nzSpan="12">
      <nz-table #postTable [nzData]="posts">
        <thead>
          <tr>
            <th>Title</th>
            <th>Body</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of postTable.data">
            <td>{{ data.title }}</td>
            <td>{{ data.body }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
